{% extends 'layout/index.html' %} {% load static %} {% comment %} titulo de la
pagina {% endcomment %} {% block title %} Inicio{%endblock %} {% comment %}
contendio de la pagina {% endcomment %} {% block content %}

<div class="box-pag">
  {% for gallery in galleries %}

  <div class="box-client">
    <img src="{{gallery.image.url}}" alt="{{gallery.name}}" />
    <div class="detail-pag">
      <h3>{{gallery.name}}</h3>
      <h4>{{gallery.image.url}}</h4>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
