/* ESTILOS GENERALES */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat";
}

/* FIN DE ESTILOS GENERALES */

/* ESTILOS DE CABECERA */

#header {
    /* position: absolute; */
    width: 100%;
    /* background-color: #000080; */
    /*background-color: rgba(0, 0, 125, 0.8);*/
    background-color: #031F40;
    /* margin-bottom: 50px; */
    height: 70px;
    box-shadow: 1px 1px 15px black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 130px;
    margin-left: 40px;
    margin-bottom: -5px;
}

.logo img {
    width: 100%;
}

/* ESTILOS DEL MENU  */
.main ul {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    line-height: 80px;
}

.main li {
    display: block;
    padding-right: 25px;
    padding-left: 25px;
    /* border: 1px solid yellow; */

}

.main a {
    display: block;
    text-decoration: none;
    font-family: "Montserrat SemiBold";
    color: white;
    /* border-bottom: 1px solid white; */
    transition: all 30ms;

}

.main a:hover {
    scale: 1.1;
}

/* FIN ESTILOS DEL MENU  */

/* FIN DE ESTILOS DE CABECERA */

/* ESTILOS DE DESCRIPCION  */

.desc {
    height: 100vh;
    background-color: #ddd;
    background-image: url("../images/dubai-skyline-at-dusk-jpg_header-144981.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.desc article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    /* text-align: center; */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.desc .text_desc {
    width: 60%;
    /* border: 1px solid yellow; */
    text-align: center;
}

.desc p {
    font-family: "Montserrat Light";
    font-size: 33px;
    /* margin-bottom: 5px; */
    color: white;
    letter-spacing: 10px;
    line-height: 34px;
}

.desc .description {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 35px;
    letter-spacing: 0;
}

.desc input[type="text"] {
    padding: 10px;
    width: 65%;
    height: 28px;
    border: transparent;
    border-radius: 10px 10px;
}

.btn,
input[type="submit"],
input[type="button"] {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #D23130;
    color: white;
    border: none;
    border-radius: 10px 10px;
    box-shadow: 1px 1px 2px #333;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Roboto";
    font-size: 18px;
    text-decoration: none;
    transition: all 250ms;
}

.btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #031F40;
}

/* FIN ESTILOS DE DESCRIPCION  */

/* ESTILOS DE CURSOS */

.cursos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ddd; */
}

.title {
    font-size: 28px;
    font-family: "Montserrat SemiBold";
    text-align: center;
    margin-top: 20px;
    color: #000080;
}

.cursos .btn{
    margin: 0px auto;
    margin-top: 35px;
}

.cursos hr,
.travel hr {
    width: 25%;
    margin: 5px auto;
    border-color: red;
}

.subtitle {
    font-size: 18px;
    font-family: "Montserrat light";
    text-align: center;
    /* margin-top: -3px; */
    color: #000080;
}

.destinos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.destinos article {
    width: 22%;
    height: 380px;
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 7px #333;
    border-radius: 10px 10px;
    background-image: url("../images/malta.jpeg");
    background-size: cover;
    background-position: right;
}

.destinos h3 {
    line-height: 380px;
    text-align: center;
    text-shadow: 1px 1px 10px #333;
    font-size: 34px;
    font-family: "Montserrat Light";

}

.cursos button {
    display: block;
    align-items: center;
    margin: 0px auto;
    margin-top: 50px;
}

/* FIN DE ESTILOS DE CURSOS */


/* ESTILOS DE SERVICIOS */

.servicios {
    width: 100%;
    margin-top: 50px;
    color: white;
    background-image: url("../images/dubai-skyline-at-dusk-jpg_header-144981.jpeg");
    background-size: cover;
    background-position: center;
}

.bac_serv {
    background-color: rgba(0, 0, 125, 0.6);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.servicios article {
    flex-grow: 1;
    width: 20%;
    padding: 35px;
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat Light";
    /* border: 1px solid white; */
}

.servicios img {
    width: 150px;
    margin-bottom: 20px;
}

/* FIN DE ESTILOS DE SERVICIOS */


/* ESTILOS DE TURISMO */

.travel {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.travel a{
    margin-top: 15px;
}

.cont_travel {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.cont_travel article {
    flex-grow: 1;
    width: 25%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 10px 10px;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 7px #333;
    background-image: url("../images/Australia_Day.jpg");
    background-size: cover;
    background-position: center;

}

.cont_travel h3 {
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 34px;
}

.travel button {
    display: block;
    margin: 0px auto;
    margin-top: 50px;

}

/* FIN DE ESTILOS DE TURISMO */


.content{
    height: 66vh;
    width: 90%;
    margin: 20px auto;
    padding: 20px 30px;
    /* border: 1px solid red ; */
}

.content h1{
    text-align: center;
}



/* ESTILOS DEL FOOTER */



.footer {
    width: 100%;
    height: 50px;
    background-color: #222;
    color: white;
     padding-top: 10px;
    /*padding-bottom: 10px; */

}

.footer i {
    margin-right: 10px;
}


.footer .autor {
    text-align: center;
    margin-top: 10px;
}

.content-pg {
    /* border: 1px solid #031F40;  */
    display: block;
    width: 80%;
    min-height: 50vh;
    margin: 30px auto;
    padding: 50px;
    /* box-shadow: 0px 1px 10px #333; */
}

.redes {
    display:flex;
    margin-top: 35px;
}

.redes li {
    margin-right: 12px;
    font-size: 26px;
}

/* --- Inicio --- About  */

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}


.about .img-about {
    width: 40%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.about .img-about img {
    width: 100%;
}

.about .desc-about {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about .desc-about h2 {
    font-family: "Roboto Black";
    font-size: 32px;
    color: #031F40;
    margin-bottom: 15px;
}

.about .desc-about p {
    font-family: "Montserrat";
    font-size: 18px;
    color: #031F40;
}

.img-nosotros{
    width: 100%;
    margin-bottom: -30px;
    margin-top: -350px;
}

/* --- Fin --- About  */

.box-content {
    display: flex;
    flex-wrap: wrap;
}

.box-travels {
    flex-basis: 20%;
    flex-grow: 1;
    margin: 30px;
    box-shadow: 0px 0px 8px #ddd;
}

.box-travels img {
    width: 100%;

}

.box-content-pg {
    display: flex;
    justify-content: space-evenly;
}

.box-travels-pg,
.box-description {
    width: 40%;
}

.box-travels-pg img {
    width: 100%;
}

.box-description h1 {
    font-family: "Roboto Medium";
}

.box-description p {
    font-family: "Montserrat";
    margin-top: 15px;
}

.box-description a {
    text-decoration: none;
    margin-top: 10px;
}

.items-leng {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.item {
    width: 45%;
    box-shadow: 0px 0px 10px #bbb;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.img-item {
    width: 100%;
}

.img-item img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item h3 {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
    text-transform: capitalize;
}

.item a {
    text-decoration: none;
    color: #333;

}

.item a:hover img {
    /* filter: grayscale(1); */
    /* filter: blur(5px); */
    /* filter: brightness(200%); */
    /* filter: contrast(200%); */
    /* filter: drop-shadow(8px 8px 10px gray); */
    filter: grayscale(90%);
    /* filter: hue-rotate(90deg); */
    /* filter: invert(100%); */
    /* filter: opacity(30%); */
    /* filter: sepia(100%); */
    /* filter: saturate(800%); */
    /* filter: contrast(200%) brightness(150%); */
}

.leng-content {
    display: flex;
    justify-content: space-around;
}

.leng-description {
    width: 60%;

}

.leng-description h2{
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: capitalize;
    font-family: "Roboto Black";
}

.leng-description a{
   text-decoration: none;
   color: #000;
    font-weight: bold;
}

.leng-description a:hover{
    color: #000080;
 }


 .leng-description ul{
    list-style: none;
 }

 .leng-description li{
    margin-top: 8px;
    margin-bottom: 8px;
 }

 .leng-description i{
    margin-right: 7px;
    color: #D23130;
 }

.leng-lateral {
    width: 35%;
    /* border: 1px solid red; */
    
}

.lat-form{
    background-color: #00000044;
    padding-top: 25px;
    padding-bottom: 15px;
}

.lat-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;

}

.lat-form h3{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    font-family: "Roboto Black";
    color: #000;
    /* margin-top: 15px; */

}

.lat-form textarea,
.lat-form input {
    display: block;
    padding: 10px 11px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 90%;
}

.leng-img {
    width: 100%;
    height: 350px;
    position: relative;
    display: inline-block;
    text-align: center;
    /* border: 1px solid red; */
}

.leng-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leng-img h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 54px ;
    font-family: "Roboto Black";
    text-shadow: 0px 0px 10px black;
    text-transform: capitalize;
}

.banner{
    width: 80%;
    margin: 0px auto;
    /* border: 1px solid red; */
    margin-top: 25px;

}

.banner img{
    width: 100%;
    
}



/* pagina de docntacot */

.cont-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-contact,
.form-contact{
    width: 40%;
}


.image-contact {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
}

.image-contact img{
    width: 100%;
}

.mundi {
    width: 70%;
    margin-top: -50px;
}


.form-contact textarea,
.form-contact input[type="email"],
.form-contact input[type="text"]{
    display: block;
    width: 60%;
    padding: 10px;
    margin: 5px auto;
}

.input-width textarea,
.input-width input[type="email"],
.input-width input[type="text"]{
    width: 85%;
    margin: 0px;
    margin-bottom: 5px;
}

.color_contact{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2daff;
    padding: 50px 20px;
    margin: 20px auto;
    margin-bottom: 30px;
}

.color_contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.info-contact{
    width: 90%;
    text-align: justify;
    font-family: "Montserrat";
    font-size: 14px;
    color: #031F40;
    margin-bottom: 20px;
}

.sub-contact{
    font-family: "Roboto";
    /* font-weight: bold; */
    font-size: 24px;
    color: #031F40;
    margin-bottom: 25px;
}

.image-contact {
    /* border: 1px solid red; */
    text-align: end;
}


.image-contact ul{
    list-style: none;
}

.image-contact ul li{
    margin-top: 8px;
}

.image-contact i{
    font-size: 20px;
}

.image-contact .redes{
    justify-content: end;
    margin-top: 20px;

}

.image-contact .redes i {
    font-size: 32px;
    
}

.title-pg{
    text-align: center;
    margin-bottom: 50px;
    /* background-color: #000080; */
    /* color: #fff; */
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 3px solid #D23130;
    /* box-shadow: 0px 0px 5px red; */
}




#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .4));
}

circle {
    fill: #25d366;
 }
 path {
    fill: #fff;
 }

#whatsapp i {
    font-size: 80px;
    color: #fff;
}

.header-title{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0px 0px 5px 0px #ddd ; */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.header-title .add{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* color: #D23130; */
    font-weight: bold;
    transition: all 200ms;
}

.header-title .add:hover{
color: red;
cursor: pointer;
}

.box{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}


.box-pag{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.box-client{
    flex-grow: 1;
    width: 20%;
    margin: 15px 20px;
    /* width: 250px; */
    box-shadow: 0px 0px 6px 0px #ddd;
    /* border: 3px solid yellow; */
}


.box-client img{
    width: 100%;
}

.box-client h3{
    /* margin-top: 5px;
    margin-bottom: 5px; */
    padding: 8px 10px;
}

.box-client .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.box-content-pg .detail-pag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-client .detail-pag h4{
    display: block;
    font-size: 9px;
    color: #031F40;
    text-align: center;
}

.box-client .detail a{
    text-decoration: none;
    color: #000;
    transition: all 200ms;
}

.box-client .detail a:hover{
    color: #031F40;
}